[submodule "modules/native-ios"]
	path = modules/native-ios
	url = ssh://git@stash.spielmeister.com:7999/spellios/native-ios.git
[submodule "modules/native-core"]
	path = modules/native-core
	url = ssh://git@stash.spielmeister.com:7999/spellcommon/native-core.git
[submodule "modules/jansson"]
	path = modules/jansson
	url = ssh://git@stash.spielmeister.com:7999/spellcommon/jansson.git
